.main {}

.main__content {}


.main__content__text {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-left: 10%;
  padding-top: 3%;
  text-align: center;
  font-family: var(--fonte-primaria);
  color: var(--cor-principal);
  font-size: 4em;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  text-shadow: 0 0 5px hwb(110 43% 0%), 0 0 10px #aaff95, 0 0 20px #15ff00;
}

.main__content__title {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  font-size: 2.8rem;
  font-family: var(--fonte-primaria);
  color: var(--cor-principal);

}

.button {
  display: flex;
  justify-content: center;

}

.button__btn {
  padding-top: 2%;
  position: relative;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 3em;
  cursor: pointer;
  transition: transform 0.3s;
  animation: neon 0.6s ease-in-out infinite alternate;
}

.main__content__redes {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px hwb(0 43% 0%), 0 0 10px #ff9595, 0 0 20px #ff0000;
  }

  100% {
    text-shadow: #ff0000;
  }
}
