<main>
  <section class="main">
  <div class="main__content">
    <h1 class="main__content__text">
      A New Era Tech Solutions <br>possui o que o seu negócio precisa para entrar no mundo digital.
    </h1>
    <h1 class="main__content__title">
      Clique e eleve seu negócio
    </h1>
    <div class="button">
      <button class="button__btn">PRÓXIMO NÍVEL</button>
    </div>
  </div>
  </section>
  <div class="main__content__redes">
    <app-redes-sociais></app-redes-sociais>
  </div>
</main>
