<section class="social">

  <div class="button-rs github">

    <a [href]="gitHub" title="Github" target="_blank">
      <i class="fa-brands fa-github"></i>
      <span>Github</span>
    </a>

  </div>


  <div class="button-rs linkedin">

    <a [href]="linkedin" title="Linkedin" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
      <span>Linkedin</span>
    </a>

  </div>

  <div class="button-rs email">

    <a [href]="emailLink" title="Email" target="_blank">
      <i class="fa-sharp fa-solid fa-envelope"></i>
      <span>E-mail</span>
    </a>

  </div>

  <div class="button-rs whatsapp">

    <a [href]="whatsApp" title="whatsApp" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
      <span>whatsApp</span>
    </a>

  </div>
</section>
