<div class="wrapper">
  <main>

    <section class="module parallax parallax-1">
      <h1 class="area-1">{{ titleParallax_1 }}</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>{{ subtitleParallax_1 }}</h2>
        <p>{{ textParallax_1_1 }}</p>
        <p>{{ textParallax_1_2 }}</p>
      </div>
    </section>

    <section class="module parallax parallax-2">
      <h1 class="area-2">{{ titleParallax_2 }}</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>{{ subtitleParallax_2 }}</h2>
        <p>{{ textParallax_2_1 }}</p>
        <p>{{ textParallax_2_2 }}</p>
      </div>
    </section>
    <section class="module parallax parallax-3">
      <h1 class="area-2">{{ titleParallax_3 }}</h1>
      <p></p>
    </section>

    <section class="module content">
      <div class="container">
        <h2>{{ subtitleParallax_3 }}</h2>
        <p>{{ textParallax_3_1 }}</p>
        <p>{{ textParallax_3_2 }}</p>
      </div>
    </section>
  </main>
</div>
