<div class="wrapper">
  <main>

    <section class="module parallax parallax-1">
      <h1 class="area-1">A estrada até aqui...</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>O início da jornada</h2>
        <p>{{ textParallax_1_1 }}</p>
        <p>{{ textParallax_1_2 }}</p>
      </div>
    </section>

    <section class="module parallax parallax-2">
      <h1 class="area-2">Professor</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Matemática</h2>
        <p>{{ textParallax_2_1 }}</p>
        <p>{{ textParallax_2_2 }}</p>
      </div>
    </section>
    <section class="module parallax parallax-3">
      <h1 class="area-2">Desenvolvedor de softWare</h1>
      <p></p>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Tecnologia</h2>
        <p>{{ textParallax_3_1 }}</p>
        <p>{{ textParallax_3_2 }}</p>
      </div>
    </section>
  </main>
</div>
