<div class="wrapper">
  <main>

    <section class="module parallax parallax-1">
      <h1 class="area-1">A estrada até aqui...</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>O início da jornada</h2>
        <p>Tudo começou quando decidi investir nos estudos, uma decada atrás.</p>
        <p>E como qualquer mudança, exigiu tanto esforço que até hoje nao descobri o significado de férias</p>
      </div>
    </section>

    <section class="module parallax parallax-2">
      <h1 class="area-2">Professor</h1>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Matemática</h2>
        <p>No primeiro semestre de 2018, após muitas tentativas em diversos concursos públicos, resolvi prestar o vestibular. </p>
        <p>Eu já atuava como monitor de matemática no curso, e resolvi tentar o vestibular para ver o que acontecia. </p>
        <p>E para minha alegria, passei em primeiro lugar para Unirio (Universidade Federal do Estado do Rio de Janeiro)</p>
        <p>E a partir desse momento minsitrei aula de matemática, além de trabalhos voluntários e até um canal no YouTube.</p>
        <p>Até que encontrei minha verdadeira PAIXÃO!</p>
      </div>
    </section>
    <section class="module parallax parallax-3">
      <h1 class="area-2">Desenvolvedor de softWare</h1>
      <p></p>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Tecnologia</h2>
        <p>No último trimeste de 2021, tive meu primeiro contato com tecnologia e a partir desse ponto decidi que era isso!</p>
        <p>Alguns amigos me ajudaram com direcionamento, cursos e resolvendo muitas, muitas dúvidas </p>
        <p>E hoje sigo satisfeito na minha vida profissional, com a carreira que demorei a achar, mas que graças a Deus encontrei </p>
      </div>
    </section>
  </main>
</div>
