
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  height: 500vh;
  background-color: #000;
}

.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

header.rolagem{
  background-color: #19191957;
  padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
  color: #FE775A;
  font-size: 1.3em;
}

header ul{
  list-style-type: none;
}

header ul li{
  display: inline-block;
  margin: 0 40px;
}

header ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
  display: inline-block; /* Certificar-se de que os links se comportem como elementos em linha */
  /* Efeito de transição para suavizar o destaque */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  transform: translateY(-4px) translateX(2px);
  border-bottom-color: #FE775A;/* Move o link 2 pixels para cima ao passar o mouse */

}

.btn-contato button{
  width: 120px;
  height: 40px;
  border: 0;
  background-color: #FE775A;
  color: #fff;
  cursor: pointer;
  transition: .2s;
}

.banner{
  height: 100vh;
  background-image: url(../../../assets/header.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  font-size: 4em;
}

.banner h1 span{
  color: #ff0000;
}

