.header {
  display: flex;
  justify-content: start;
  height: auto;

}

.header__button {
  margin: 0.5em;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn:hover {
  text-shadow: 0 0 5px #29f401, 0 0 10px #aaff95, 0 0 20px #ffffff, 0 0 40px #00eaff, 0 0 80px #00eaff, 0 0 90px #00eaff, 0 0 100px #00eaff, 0 0 150px #00eaff;
  transform: translateZ(50px);
}

.button-neon:hover::after {
  opacity: 1;
}
.btn:hover { transform: rotateY(20deg) scale(1.3); }
