:root {
  --cor-principal: #ff0d00;
  --cor-secundaria: #fafe25;
  --cor-extra: #ffffff;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

