:root {
  --cor-principal: #ff0d00;
  --cor-secundaria: #ffffff;
  --cor-extra: #2bff00;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/background-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
@media(max-width:800px) {

  body{
    min-height: 100vh;
    background-repeat: no-repeat;
  }
}
